@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    @model is used to bind the views and model
*@
@{

}

@model first_MVC_App.Models.pen

<div class="container">
    <h2>@Model.penName</h2>

    <div class="card" style="width:400px">
    <img class="card-img-top" src="~/images/pen_image.jfif" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Pen</h4>
      <p class="card-text">@Model.penPrice</p>
      <a href="first.html" class="btn btn-primary">See Details</a>
      <a href="~/first.html" class="btn btn-dark">See Details</a>
    </div>
  

</div>


@*
<h1> @Model.penName</h1>
<h2> @Model.penId</h2>
<h2> @Model.penPrice</h2>*@