@model IEnumerable<Sri_Arungarai_Amman_Traders.Models.Seed>

@{
    ViewData["Title"] = "Seeds";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Seed Product Details</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.QuantityAvailable)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.ProductUnit)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.QuantityAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductUnit)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            @*<td>
                <a asp-action="SeedsEdit" asp-route-id="@item.ProductId">Edit</a> |
                
                <a asp-action="SeedsDelete" asp-route-id="@item.ProductId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
